<ion-view view-title="New Todo">
  <ion-content>
    <form ng-submit="newitem.addNewItem(newitem.newItem)">
      <label class="item item-input">
        <input ng-model="newitem.newItem" placeholder="New Item" type="text">
      </label>
      <img ng-src="newitem.img" ng-if="newitem.img" />
      <button class="button button-block" type="submit"></button>
    </form>
    <button class="button button-icon ion-camera" ng-click="newitem.takePicture()">Take Picture</button>
  </ion-content>
</ion-view>
